<div style="width: 80%;height:80%;margin: auto">
  <p>Run Chart</p>
  <ng-select [items]="orgUnits" [(ngModel)]="selectedUnit" bindLabel="displayName" bindValue="id" (change)="getEntities()">
  </ng-select>
  <br>
  <br>
  <ng-select [items]="entities" [(ngModel)]="selectedEntity" bindLabel="displayName" bindValue="id" (change)="getData()" *ngIf="show">
  </ng-select>

  <div *ngIf="chart">
    <canvas id="canvas">{{ chart }}</canvas>
    <p>{{ notes }}</p>
  </div>

  <!-- <div #chart>
  </div> -->

</div>
